# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian config
.obsidian/
_notes/Cẩm nang "làm vườn" 4.0.md
_notes/Thế nào là Hạnh phúc\?.md
