---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Cập nhật lần cuối vào {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <!-- <content>
      {{ content }}
      <p>This line appears after every note.</p>
    </content> -->

    <side style="font-size: 0.9em">
      <h3 style="margin-bottom: 1em">Những ghi chú có đề cập đến ghi chú này</h3>
      {% if page.backlinks.size > 0 %}
      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
      {% for backlink in page.backlinks %}
        <div class="backlink-box">
        <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
        <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
        </div>
      {% endfor %}
      </div>
      {% else %}

      <div style="font-size: 0.9em">
        <p>
          Không có ghi chú nào liên kết với ghi chú này.
        </p>
      </div>
      {% endif %}
    </side>
  </div>
</article>

<hr>

<p>Đây là tất cả các ghi chú có trong 🌱 "khu vườn" này được biểu diễn dưới dạng mạng lưới các liên kết.</p>

{% include notes_graph.html %}
